<div class="boardContent librato">
    <h1>Librato</h1>

    <p>
        Error
    </p>
    <p>
        Librato is not working or you didn't provide all parameters, reason: {{ message }}.
    </p>
</div>
